.list-game :global(.swiper-slide) {
  width: auto !important;
  margin-right: 6px !important;
}

/* .list-game :global(.swiper-slide-active) > a > div {
  box-shadow: 0px 0px 20px 0px rgba(0, 224, 255, 0.5);
} */

.list-game :global(.swiper-wrapper) {
  padding: 10px;
}

.list-game :global(.swiper-slide) img {
  width: 240px !important;
}

@media only screen and (min-width: 640px) {
  .list-game :global(.swiper-slide) {
    width: auto !important;
    margin-right: 24px !important;
  }

  .list-game :global(.swiper-slide) img {
    width: 560px !important;
  }

  .list-game :global(.swiper-wrapper) {
    padding: 20px 10px 20px;
  }
}
